body{
background-color: Black ;

}


#wrapper{

  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
header{

width: 100%;
height: 150px;
background-color: #000CE5;

text-align: center;
color: black;
font-size: 50px;
font-family: 'Crete Round', serif;

}

nav{

  width: 100%;
  height: 50px;
  background-color: #000EFF;



}
#mainwrapper{

  display:flex;
}
main {

background-color: white;

  width:100%;

  Height:750px;

}
aside{
background-color: white;
  width:1400px;
    Height:750px;
}
footer{
width: 100%;
height:100px;
background-color: #000CE5;


}

a{
text-decoration: none;
font-size: 20px;

}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: Black;
}

/* mouse over link */
a:hover {
    color: Red;
}

/* selected link */
a:active {
    color: black;
}
